@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: Lato;
}

.block_header {
  background: url("../img/header/background.png") center no-repeat;
}

.header {
  max-width: 823px;
  height: 1080px;
  margin: 0 auto;
  padding-top: 150px;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 155px;
}
.header__slogan {
  position: relative;
  text-align: center;
  margin: 0px 0px 250px 0px;
  padding: 0px 0px 50px 0px;
}
.header__slogan:after {
  content: "";
  position: absolute;
  width: 105px;
  height: 2px;
  bottom: 0;
  background-color: #fff;
  margin: 0px 0px 0px -55px;
}
.header__title {
  font-size: 34px;
  line-height: 40px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  color: #ffffff;
  margin: 0px 0px 10px 0px;
}
.header__subtitle {
  font-size: 26px;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 0.16em;
}
.header__readmore {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 75px 0px 0px 0px;
}
.header__button {
  color: #fff;
  background: none;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 182px;
  height: 47px;
  border: 1px solid #fff;
}
.header__button:hover {
  background: white;
  color: #000000;
}

.about__body {
  max-width: 823px;
  height: 760px;
  margin: 0px auto;
}
.about__header {
  margin-bottom: 65px;
}
.about__navbar {
  position: relative;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 450px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about__navbar::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5px;
  color: #000;
  margin-bottom: 100px;
}
.about__paragraph {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}
.about .item-nav__par {
  text-transform: uppercase;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 700;
  color: #3c3c3c;
}
.about .item-nav__par:hover {
  color: #aea175;
}
.about__title {
  margin: 0px 0px 30px 0px;
}
.about__text {
  max-width: 688px;
  color: #868585;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  line-height: 25.89px;
  margin: 0px auto;
  margin-bottom: 70px;
}
.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}
.about__column {
  padding: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
}

.title {
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  position: relative;
  text-align: center;
  padding: 0px 0px 30px 0px;
}
.title:after {
  content: "";
  position: absolute;
  width: 80px;
  bottom: 0;
  height: 1px;
  left: 50%;
  background-color: #000000;
  margin: 0px 0px 0px -40px;
}

.item-about__icon {
  margin: 0px auto;
  border-radius: 50%;
  height: 92px;
  width: 92px;
  border: 1px solid #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}
.item-about__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.16em;
  color: #000000;
  margin: 0px 0px 35px 0px;
}
.item-about__text {
  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
  color: #868585;
  text-align: center;
}

.portfolio {
  max-width: 1920px;
  height: 1671px;
  margin: 0px auto;
  padding-top: 100px;
  background-color: #f3f3f3;
}
.portfolio__title {
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.portfolio__header {
  margin-bottom: 65px;
}
.portfolio__navbar {
  position: relative;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 450px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.portfolio__navbar::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5px;
  color: #000;
  margin-bottom: 100px;
}
.portfolio__paragraph {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}
.portfolio .item-nav__par {
  text-transform: uppercase;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 700;
  color: #3c3c3c;
}
.portfolio .item-nav__par:hover {
  color: #aea175;
}
.portfolio img {
  width: 538px;
  height: 365px;
  margin: 15px 15px;
}
.portfolio__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 65px;
}
.portfolio__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.portfolio__readmore {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.portfolio__button {
  color: #000;
  background: none;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 182px;
  height: 47px;
  border: 1px solid #000;
}
.portfolio__button:hover {
  background: black;
  color: white;
}

.parthners {
  max-width: 1920px;
  height: 390px;
  background: url("../img/our_parthners/background.png") bottom no-repeat;
  margin: 0 auto;
}
.parthners__title {
  text-align: center;
  padding: 95px 0 0 0;
  font-size: 30.4px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.parthners__row {
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 90px auto 0;
}
.contact {
  max-width: 1920px;
  height: 620px;
  margin: 0 auto;
}
.contact__title {
  margin: 150px 0 100px 0;
}
.contact__block {
  width: 725px;
  margin: 0 auto;
  font-family: Lato;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.06em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  left: -100px;
}
.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 385px;
}
.contact__form input {
  margin-top: 15px;
}
.contact__form .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.contact .name_mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 50px 0;
}
.contact .name_mail input,
.contact .name_mail label {
  display: block;
}
.contact__form-name, .contact__form-email {
  width: 161px;
  height: 35px;
  background-color: #f8f7f7;
  border-top: 1px solid #000;
}
.contact__form-message {
  width: 383px;
  height: 118px;
  background-color: #f8f7f7;
  border-top: 1px solid #000;
  margin-bottom: 35px;
}
.contact__form-button {
  background: none;
  font-family: Lato;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}
.contact__form-button:hover {
  border-bottom: 1px solid #000;
}
.contact__info {
  margin-left: 80px;
  font-family: Lato;
  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
  color: #000000;
  letter-spacing: 0px;
  line-height: 23px;
}
.contact__info-txt {
  margin: 0 0 30px 0;
}
.contact__info-name {
  font-weight: 700;
  margin: 0 0 20px 0;
}
.contact__info-snetworks {
  margin: 0px 0px 10px 0px;
}
.contact__info-snetworks img {
  margin: 0px 10px 0px 0px;
}
.contact__info-email a {
  font-weight: 700;
  color: #000;
}

.footer {
  margin: 0px auto;
  background: #3c3c3c;
  padding: 0px 0px 50px 0px;
}
.footer__logo {
  text-align: center;
  padding: 45px 0px 0px 0px;
  margin: 0px 0px 40px 0px;
}
.footer__bar {
  margin-bottom: 30px;
}
.footer__navbar {
  position: relative;
  margin: 0 auto;
  max-width: 255px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__navbar::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5px;
  color: #fff;
  margin-bottom: 100px;
}
.footer__paragraph {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto;
}
.footer__copyright {
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: #6c6c6c;
}

.item-nav__par {
  font-size: 15px;
  line-height: 1.2;
  font-weight: 700;
  color: #a4a4a4;
}
.item-nav__par:hover {
  color: #aea175;
}
/*# sourceMappingURL=style.css.map */